---
import MiLayout from "../../layouts/MiLayout.astro";

interface CatDetail {
  id: string;
  url: string;
}

const { id } = Astro.params;

let catData: CatDetail | null = null;

try {
  const res = await fetch(`https://api.thecatapi.com/v1/images/search?limit=1&id=${id}`, {
    headers: { 'x-api-key': process.env.cat_api! }
  });
  const data = await res.json();
  catData = data[0] || null;
} catch (err) {
  console.error(err);
}
---

<MiLayout>
    {
        catData ? (
            <div>
                <h1>Detalles del gato</h1>
                <img src={catData.url} alt="Gato" />
                <p>ID: {catData.id}</p>
            </div>
        ) : (
            <p>No se pudo cargar la información del gato.</p>
        )
    }
</MiLayout>
