---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1 class="bg-blue-200 text-blue-900 text-3xl hover:bg-blue-400">Saludos desde tailwind</h1>
    <p>Hola</p>
</Layout>

<style>
    h1 {
        color: blueviolet;
        background-color: rgb(192,156,64);
        font-size: xx-large;
    }
</style>